examples/avicultura/regional/templates/IoT-Base.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8a423382-017c-1000-0662-fb44d47348f4</groupId>
    <name>IoT-Base</name>
    <snippet>
        <controllerServices>
            <id>10f44059-4b89-39d1-0000-000000000000</id>
            <parentGroupId>f340857e-9622-3d6e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>default-credentials</key>
                    <value>
                        <name>default-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Access Key</key>
                    <value>
                        <name>Access Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Secret Key</key>
                    <value>
                        <name>Secret Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Credentials File</key>
                    <value>
                        <name>Credentials File</name>
                    </value>
                </entry>
                <entry>
                    <key>profile-name</key>
                    <value>
                        <name>profile-name</name>
                    </value>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>
                        <name>anonymous-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                    <value>
                        <name>Assume Role ARN</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                    <value>
                        <name>Assume Role Session Name</name>
                    </value>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>
                        <name>Session Time</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                    <value>
                        <name>assume-role-external-id</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                    <value>
                        <name>assume-role-proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                    <value>
                        <name>assume-role-proxy-port</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                    <value>
                        <name>assume-role-sts-endpoint</name>
                    </value>
                </entry>
            </descriptors>
            <name>AWSCredentialsProviderControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>default-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Access Key</key>
                </entry>
                <entry>
                    <key>Secret Key</key>
                </entry>
                <entry>
                    <key>Credentials File</key>
                </entry>
                <entry>
                    <key>profile-name</key>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>3600</value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
        </controllerServices>
        <processGroups>
            <id>4b4d09ca-c424-3f38-0000-000000000000</id>
            <parentGroupId>f340857e-9622-3d6e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0a2a749d-a221-3d0a-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4b4d09ca-c424-3f38-0000-000000000000</groupId>
                        <id>15a6c019-b517-352a-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>42791b67-6390-3093-0000-000000000000</groupId>
                        <id>56a5149f-0873-3722-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7aa79939-5461-3621-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1624.0</x>
                        <y>832.0</y>
                    </bends>
                    <destination>
                        <groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
                        <id>53b0ba97-6028-3f51-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>4b4d09ca-c424-3f38-0000-000000000000</groupId>
                        <id>15a6c019-b517-352a-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8546102e-776c-39d2-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2200.0</x>
                        <y>832.0</y>
                    </bends>
                    <destination>
                        <groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
                        <id>89b9f888-c425-3e01-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>4b4d09ca-c424-3f38-0000-000000000000</groupId>
                        <id>15a6c019-b517-352a-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>41b64a70-74fe-30a0-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>523057d8-c786-3ab1-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>
<name>Include Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>
<name>Quote Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>
<name>Include Trailing Delimiter</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>MINIMAL</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>d63ffb23-ac81-30ce-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-parquet-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>
<name>compression-type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                            <value>
<name>row-group-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>page-size</key>
                            <value>
<name>page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                            <value>
<name>dictionary-page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                            <value>
<name>max-padding-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                            <value>
<name>enable-dictionary-encoding</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                            <value>
<name>enable-validation</name>
                            </value>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                            <value>
<name>writer-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>
<name>avro-write-old-list-structure</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>
<name>avro-add-list-element-records</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ParquetRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>UNCOMPRESSED</value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                        </entry>
                        <entry>
                            <key>page-size</key>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>dbde92d2-e139-30b8-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <funnels>
                    <id>15a6c019-b517-352a-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <position>
                        <x>1888.0</x>
                        <y>768.0</y>
                    </position>
                </funnels>
                <processGroups>
                    <id>249975bf-30f1-3cd0-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <position>
                        <x>2008.0</x>
                        <y>912.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1fa117d1-8ec9-3d37-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
<id>e6594867-db12-3395-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
<id>706d9ffc-5068-3368-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5af9ba61-a207-3914-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
<id>706d9ffc-5068-3368-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
<id>14ef7ac0-a1e6-31c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5f2ed343-cb34-3b3c-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
<id>14ef7ac0-a1e6-31c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>249975bf-30f1-3cd0-0000-000000000000</groupId>
<id>89b9f888-c425-3e01-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>e6594867-db12-3395-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <position>
<x>1600.0</x>
<y>1016.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>89b9f888-c425-3e01-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <position>
<x>1504.0</x>
<y>496.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>in</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>14ef7ac0-a1e6-31c1-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <position>
<x>1448.0</x>
<y>624.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
  "operation": "shift",
  "spec": {
    "*": "&amp;"
  }
}, {
  "operation": "default",
  "spec": {
    "timestamp_ttl": ${timestamp_ttl},
    "context": "${context}"
  }
}]
</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Reestruturar Payload</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>706d9ffc-5068-3368-0000-000000000000</id>
                            <parentGroupId>249975bf-30f1-3cd0-0000-000000000000</parentGroupId>
                            <position>
<x>1448.0</x>
<y>824.0</y>
                            </position>
                            <bundle>
<artifact>nifi-aws-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Hash Key Name</key>
        <value>
            <name>Hash Key Name</name>
        </value>
    </entry>
    <entry>
        <key>Range Key Name</key>
        <value>
            <name>Range Key Name</name>
        </value>
    </entry>
    <entry>
        <key>Hash Key Value</key>
        <value>
            <name>Hash Key Value</name>
        </value>
    </entry>
    <entry>
        <key>Range Key Value</key>
        <value>
            <name>Range Key Value</name>
        </value>
    </entry>
    <entry>
        <key>Hash Key Value Type</key>
        <value>
            <name>Hash Key Value Type</name>
        </value>
    </entry>
    <entry>
        <key>Range Key Value Type</key>
        <value>
            <name>Range Key Value Type</name>
        </value>
    </entry>
    <entry>
        <key>Json Document attribute</key>
        <value>
            <name>Json Document attribute</name>
        </value>
    </entry>
    <entry>
        <key>Character set of document</key>
        <value>
            <name>Character set of document</name>
        </value>
    </entry>
    <entry>
        <key>Batch items for each request (between 1 and 50)</key>
        <value>
            <name>Batch items for each request (between 1 and 50)</name>
        </value>
    </entry>
    <entry>
        <key>Region</key>
        <value>
            <name>Region</name>
        </value>
    </entry>
    <entry>
        <key>Access Key</key>
        <value>
            <name>Access Key</name>
        </value>
    </entry>
    <entry>
        <key>Secret Key</key>
        <value>
            <name>Secret Key</name>
        </value>
    </entry>
    <entry>
        <key>Credentials File</key>
        <value>
            <name>Credentials File</name>
        </value>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
            <name>AWS Credentials Provider service</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
        <value>
            <name>Proxy Host Port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-name</key>
        <value>
            <name>proxy-user-name</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-password</key>
        <value>
            <name>proxy-user-password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Table Name</key>
        <value>test-table</value>
    </entry>
    <entry>
        <key>Hash Key Name</key>
        <value>device_guid</value>
    </entry>
    <entry>
        <key>Range Key Name</key>
        <value>timestamp_ttl</value>
    </entry>
    <entry>
        <key>Hash Key Value</key>
        <value>${hash_value}</value>
    </entry>
    <entry>
        <key>Range Key Value</key>
        <value>${timestamp_ttl}</value>
    </entry>
    <entry>
        <key>Hash Key Value Type</key>
        <value>string</value>
    </entry>
    <entry>
        <key>Range Key Value Type</key>
        <value>number</value>
    </entry>
    <entry>
        <key>Json Document attribute</key>
        <value>$</value>
    </entry>
    <entry>
        <key>Character set of document</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Batch items for each request (between 1 and 50)</key>
        <value>50</value>
    </entry>
    <entry>
        <key>Region</key>
        <value>sa-east-1</value>
    </entry>
    <entry>
        <key>Access Key</key>
    </entry>
    <entry>
        <key>Secret Key</key>
    </entry>
    <entry>
        <key>Credentials File</key>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>10f44059-4b89-39d1-0000-000000000000</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
    </entry>
    <entry>
        <key>proxy-user-name</key>
    </entry>
    <entry>
        <key>proxy-user-password</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutDynamoDB (test)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unprocessed</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.aws.dynamodb.PutDynamoDB</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Stream - DynamoDB</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>42791b67-6390-3093-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <position>
                        <x>1720.0</x>
                        <y>408.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>787961ac-1f1e-3bb5-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42791b67-6390-3093-0000-000000000000</groupId>
<id>56a5149f-0873-3722-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>42791b67-6390-3093-0000-000000000000</groupId>
<id>0eba7802-7442-3417-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>78d29554-d66c-3ea2-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42791b67-6390-3093-0000-000000000000</groupId>
<id>0eba7802-7442-3417-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>42791b67-6390-3093-0000-000000000000</groupId>
<id>e487cb1a-3a34-38fd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cdb61aad-cb0a-3987-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42791b67-6390-3093-0000-000000000000</groupId>
<id>e487cb1a-3a34-38fd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>42791b67-6390-3093-0000-000000000000</groupId>
<id>9ec1d1c8-2cad-3fdb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>56a5149f-0873-3722-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <position>
<x>480.0</x>
<y>712.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>out</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0eba7802-7442-3417-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>512.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>context</key>
        <value>
            <name>context</name>
        </value>
    </entry>
    <entry>
        <key>hour</key>
        <value>
            <name>hour</name>
        </value>
    </entry>
    <entry>
        <key>timestamp_ttl</key>
        <value>
            <name>timestamp_ttl</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>context</key>
        <value>${context}</value>
    </entry>
    <entry>
        <key>hour</key>
        <value>${now():format("HH")}</value>
    </entry>
    <entry>
        <key>timestamp_ttl</key>
        <value>${timestamp:multiply(1000):plus(86400000):divide(1000)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extrair Time To Live</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>9ec1d1c8-2cad-3fdb-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>104.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>broker:29091</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>1</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>e487cb1a-3a34-38fd-0000-000000000000</id>
                            <parentGroupId>42791b67-6390-3093-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>hash_value</key>
        <value>
            <name>hash_value</name>
        </value>
    </entry>
    <entry>
        <key>timestamp</key>
        <value>
            <name>timestamp</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>json</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>hash_value</key>
        <value>$.device_guid</value>
    </entry>
    <entry>
        <key>timestamp</key>
        <value>$.timestamp</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extrair timestamp e guid</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>IoT Stream - test</name>
                    <variables>
                        <entry>
                            <key>context</key>
                            <value>test</value>
                        </entry>
                        <entry>
                            <key>kafka_topic</key>
                            <value>test-topic</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>84ac2415-d8fe-34c0-0000-000000000000</id>
                    <parentGroupId>4b4d09ca-c424-3f38-0000-000000000000</parentGroupId>
                    <position>
                        <x>1432.0</x>
                        <y>912.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>09c6e7c4-2664-3d8f-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>bdd3ff62-349c-357c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>c29cff6b-fe13-35cf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2afa90e8-5d87-3d8f-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>c29cff6b-fe13-35cf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>9c7a17a5-56e1-34ab-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7b98ec64-7163-3c66-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>9c7a17a5-56e1-34ab-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>53b0ba97-6028-3f51-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b3c2f73b-063e-3bf2-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>0e2a3070-f8b4-3317-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>bdd3ff62-349c-357c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c70d3c62-9e73-3e72-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>8e5cefa1-b06a-3bcc-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>0e2a3070-f8b4-3317-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e44fdcdf-9aa1-3ea0-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>e7511cbb-68c7-342f-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>84ac2415-d8fe-34c0-0000-000000000000</groupId>
<id>9c7a17a5-56e1-34ab-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>8e5cefa1-b06a-3bcc-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1504.0</x>
<y>1384.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>e7511cbb-68c7-342f-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>624.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>53b0ba97-6028-3f51-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1408.0</x>
<y>464.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>in</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>0e2a3070-f8b4-3317-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1352.0</x>
<y>1176.0</y>
                            </position>
                            <bundle>
<artifact>nifi-aws-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Object Key</key>
        <value>
            <name>Object Key</name>
        </value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>
            <name>Bucket</name>
        </value>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>
            <name>Content Type</name>
        </value>
    </entry>
    <entry>
        <key>Content Disposition</key>
        <value>
            <name>Content Disposition</name>
        </value>
    </entry>
    <entry>
        <key>Cache Control</key>
        <value>
            <name>Cache Control</name>
        </value>
    </entry>
    <entry>
        <key>Access Key</key>
        <value>
            <name>Access Key</name>
        </value>
    </entry>
    <entry>
        <key>Secret Key</key>
        <value>
            <name>Secret Key</name>
        </value>
    </entry>
    <entry>
        <key>Credentials File</key>
        <value>
            <name>Credentials File</name>
        </value>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
            <name>AWS Credentials Provider service</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
        <value>
            <name>s3-object-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>
            <name>s3-object-remove-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>
            <name>Storage Class</name>
        </value>
    </entry>
    <entry>
        <key>Region</key>
        <value>
            <name>Region</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
        <value>
            <name>Expiration Time Rule</name>
        </value>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>
            <name>FullControl User List</name>
        </value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>
            <name>Read Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>
            <name>Write Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>
            <name>Read ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>
            <name>Write ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>
            <name>canned-acl</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
        <value>
            <name>Endpoint Override URL</name>
        </value>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>
            <name>Signer Override</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>
            <name>Multipart Threshold</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>
            <name>Multipart Part Size</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>
            <name>Multipart Upload AgeOff Interval</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>
            <name>Multipart Upload Max Age Threshold</name>
        </value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>
            <name>s3-temporary-directory-multipart</name>
        </value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>
            <name>server-side-encryption</name>
        </value>
    </entry>
    <entry>
        <key>encryption-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
            <name>encryption-service</name>
        </value>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>
            <name>use-chunked-encoding</name>
        </value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>
            <name>use-path-style-access</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
        <value>
            <name>Proxy Host Port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-name</key>
        <value>
            <name>proxy-user-name</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-password</key>
        <value>
            <name>proxy-user-password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Object Key</key>
        <value>${context}/${now():format("yyyy-MM-dd")}/hour=${hour}/${filename}</value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>${aws_bucket}</value>
    </entry>
    <entry>
        <key>Content Type</key>
    </entry>
    <entry>
        <key>Content Disposition</key>
    </entry>
    <entry>
        <key>Cache Control</key>
    </entry>
    <entry>
        <key>Access Key</key>
    </entry>
    <entry>
        <key>Secret Key</key>
    </entry>
    <entry>
        <key>Credentials File</key>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>10f44059-4b89-39d1-0000-000000000000</value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>Standard</value>
    </entry>
    <entry>
        <key>Region</key>
        <value>sa-east-1</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>${s3.permissions.full.users}</value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>${s3.permissions.read.users}</value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>${s3.permissions.write.users}</value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>${s3.permissions.readacl.users}</value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>${s3.permissions.writeacl.users}</value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>${s3.owner}</value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>${s3.permissions.cannedacl}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>Default Signature</value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>60 min</value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>7 days</value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>${java.io.tmpdir}</value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>None</value>
    </entry>
    <entry>
        <key>encryption-service</key>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>true</value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>false</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
    </entry>
    <entry>
        <key>proxy-user-name</key>
    </entry>
    <entry>
        <key>proxy-user-password</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutS3Object</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                        </processors>
                        <processors>
                            <id>9c7a17a5-56e1-34ab-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1352.0</x>
<y>584.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>dbde92d2-e139-30b8-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>523057d8-c786-3ab1-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>bdd3ff62-349c-357c-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1352.0</x>
<y>984.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
    <entry>
        <key>hour</key>
        <value>
            <name>hour</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${filename}.parquet</value>
    </entry>
    <entry>
        <key>hour</key>
        <value>${now():format("HH")}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extrair hora</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>c29cff6b-fe13-35cf-0000-000000000000</id>
                            <parentGroupId>84ac2415-d8fe-34c0-0000-000000000000</parentGroupId>
                            <position>
<x>1352.0</x>
<y>784.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>
            <name>merge-strategy</name>
        </value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>
            <name>correlation-attribute-name</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>
            <name>min-records</name>
        </value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>
            <name>max-records</name>
        </value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>
            <name>min-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-size</key>
        <value>
            <name>max-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>
            <name>max-bin-age</name>
        </value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>
            <name>max.bin.count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>41b64a70-74fe-30a0-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>d63ffb23-ac81-30ce-0000-000000000000</value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>context</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>1</value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>200</value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>10 KB</value>
    </entry>
    <entry>
        <key>max-bin-size</key>
        <value>300 KB</value>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>10 sec</value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>10</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeRecord</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Batch - S3</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>IoT Stream</name>
            <variables>
                <entry>
                    <key>aws_bucket</key>
                    <value>test-tcc-bucket</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>10/16/2021 18:43:55 UTC</timestamp>
</template>
